body {
  margin: 0px;
  /*background-color: #white;*/
  background-image: url('coloredpencils.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.selected {
  background-color: blue;
  color: #FFFFFF;
}

.container{
  background-color: #5ea8cc;
}

.topdiv {
  max-width: 600px;
  margin: 0 auto;
}

.intro {
  background-size: 100%;
  margin: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

.main {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: auto;
}

.control {
  background-color: white;
  text-align: center;
}

.fade {
  opacity: 100%;

}

#pid {
  font-weight: bold;
}

.square {
  float: left;
  position: relative;
  margin: 1.66%;
  overflow:hidden;
  width: 30%;
  padding-bottom: 30%;
  background: inherit;
  border-radius: 15px;
}

#s1 {
  -webkit-transition: background-color 500ms linear;
}

#s2 {
  -webkit-transition: background-color 500ms linear;
}

#s3 {
  -webkit-transition: background-color 500ms linear;
}

#s4 {
  -webkit-transition: background-color 500ms linear;
}

#s5 {
  -webkit-transition: background-color 500ms linear;
}

#s6 {
  -webkit-transition: background-color 500ms linear;
}
